.message{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    max-width:400px;
    margin-bottom: 10px;
}

.recivied{
    background-color: #1976d2;
    color: white;
    margin-left: auto;
    border: 1px solid white;
}

.owner {
    background-color: #fff;
    color: black;
    margin-right: auto;
    border: 1px solid white;
}


.message_up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.message_up_left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_up_timestamp {
    font-size: x-small;
}


.message_up h6{
    font-weight: 500 !important;
    padding-left: 10px;
}


.message_down img{

    object-fit: contain;
    width: 100%;
    max-height: 200px;
    
}


.message_down_text{
    word-break: break-word;
}

@media (max-width: 600px) {
    .message {
        max-width: 250px;
    }
    .message_down p{
        font-size: small;
    }
}